[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

requests = "*"
plac = "*"
haversine = "*"
mzgtfs = {git = "https://github.com/BusTechnology/mapzen-gtfs.git"}